<section [ngClass]="{'lightBack':!theme.getTheme()}">
    <div class="title">
        <h1 [ngClass]="{'lightFont':!theme.getTheme()}">What <span>Customers</span> have to say</h1>
        <p class="titleP" [ngClass]="{'lightFontP':!theme.getTheme()}">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Ut eu, mollis aenean sit dictum
            tincidunt. Ut arcu, suscipit ac</p>
    </div>
    <div class="sides">
        <div>
            <img src="https://images.unsplash.com/photo-1576828831022-ca41d3905fb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                alt="">
            <div [ngClass]="{'lightBack':!theme.getTheme()}" class="col">
                <p [ngClass]="{'lightFontP':!theme.getTheme()}" class="descP">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Ut eu, mollis aenean sit
                    dictum
                    tincidunt. Ut
                    arcu, suscipit ac</p>
                <h3 [ngClass]="{'lightFont':!theme.getTheme()}">Tonie Smart</h3>
            </div>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1641899868905-a049c717f34b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDI1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="">
            <div [ngClass]="{'lightBack':!theme.getTheme()}" class="col">
                <p [ngClass]="{'lightFontP':!theme.getTheme()}" class="descP">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Ut eu, mollis aenean sit
                    dictum
                    tincidunt. Ut
                    arcu, suscipit ac</p>
                <h3 [ngClass]="{'lightFont':!theme.getTheme()}">Max Obi</h3>
            </div>
        </div>
    </div>
    <div class="bottom">
        <button>View All</button>
    </div>
</section>